<h1>Add a role, Mr. Seahorse!</h1>

<a href="/roles/new">Add a role</a>

<ul>
	<% @roles.each do |role| %>
	<li><a href="/roles/<%=role.id%>"><%= role.title %></a>
		<p><a href="<%= "roles/#{role.id}" %>">details</a>
		<a href="<%= "roles/#{role.id}/edit" %>">edit</a>
		<form method="post" action="/roles/<%= role.id %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="delete" class="button">
		</form>
	<% end %>
</ul>

